<div class="row">
    <div class="col-lg-12">
        <div class="card" [style]="{'box-shadow': '5px 4px 12px 0px #00000052'}">
            <div class="card-body border border-dashed border-end-0 border-start-0" style="min-height: 230px;">
                <div class="row">
                    <div class="d-sm-flex">
                        <div class="flex-grow-1">
                            <div style="font-size: 12px" class="mb-4 mt-4">Product management</div>
                        </div>
                        <div class="flex-shrink-0">
                            <div style="font-size: 12px" class="mb-4 mt-4 text-info" onclick="history.back()" type="button"><i
                                    class="fa-solid fa-rotate-left"></i> Back
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>