
<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">E-Ticaret</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ürünler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Siparişler</a>
          </li>
        </ul>
        <form class="d-flex" >
          <button class="btn btn-sm text-success" type="submit"><strong>Giriş Yap</strong></button>
          <button class="btn mr-2 btn-sm text-danger" type="submit"><strong>Kayıt Ol</strong></button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container mt-4">
    <app-products></app-products>
  </div>
</div>


<router-outlet></router-outlet>
