
<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">E-Ticaret</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Orders</a>
          </li>
        </ul>
        <form class="d-flex" >
          <button *ngIf="!isAuthenticated" routerLink="/login" class="btn btn-success" type="submit"><strong>Login</strong></button>
          <button *ngIf="!isAuthenticated" routerLink="/register" class="btn btn-outline mr-2 btn-sm" type="submit"><strong>Register</strong></button>
          <button *ngIf="isAuthenticated" (click)="logout()" class="btn btn-danger mr-2 btn-sm" type="button"><strong>Logout</strong></button>
        </form>
      </div>
    </div>
  </nav>
</div>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
